.themed-grid-col {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(209, 232, 226, 0.1);

    /*border: 1px solid rgba(206, 206, 206, .2);*/
}

.site-header{
    background-color: rgba(17,100,102,1.0);
    color: rgba(209,232,206,1.0);
}
.themed-container-top {
    padding: 15px;
    margin-bottom: 30px;
    background-color: rgba(0, 45, 100, 0.15);
    background-image: url("iss.jpg");

    /* Full height */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(0, 123, 255, .2);
}
.gap-container{
    padding: 15px;
    margin-bottom: 30px;
}

.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}
.container{
    max-width: 1024px;

}
